section.move {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.1rem;
}

section.move div.checkboxCol {
  flex: 0 0 1.5rem;
}

section.move input[type=checkbox] {
  display: block;
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

section.move div.moveDescription {
  flex: 1 1 auto;
}

section.move h3 {
  font-size: small;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

section.move div.moveText {
  font-size: 0.73rem;
}

section.move ul.moveHolds {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
