main.page2 {
  break-before: page;
  width: 7.5in;
  height: 10in;
  border: thin solid black;
  padding: 0.25in;
}

section.fluffBlock pre {
  white-space: pre-wrap;
}

section.fluffBlock pre.quote {
  margin-left: 2rem;
}

aside.standardMovesBlock {

}
