<main class="page2">
  <section class="fluffBlock">
    <h2>The {{data.playbookName}}</h2>
    <pre>{{data.roleFluff}}</pre>
  </section>
  <aside class="standardMovesBlock">
    <h2>Standard Moves</h2>
  </aside>
  <aside>
    <h1>Creating a {{data.playbookName}}</h1>
    <section>
      <h2>Name</h2>
    </section>
    <section>
      <h2>Species</h2>
    </section>
    <section>
      <h2>Position</h2>
    </section>
    <section>
      <h2>Stats</h2>
    </section>
    <section>
      <h2>Look</h2>
    </section>
    <section>
      <h2>Moves</h2>
    </section>
    <section>
      <h2>Improvement</h2>
    </section>
  </aside>
</main>
