<main class="page2">
  <section class="leftColumn">
    <section class="fluffBlock">
      <h2>The {{data.playbookName}}</h2>
      <pre class="quote">{{data.quote}}</pre>
      <pre>{{data.roleFluff}}</pre>
    </section>
    <section class="characterCreationBlock">
      <h2>Creating a {{data.playbookName}}</h2>
      <ol>
        <li>Choose a Species
          (Andorian, Axanari, Centauran, Human, Tellarite, Tiburonian, Vulcan... and many others.)</li>
        <li>Choose a Name</li>
        <li>Choose a Descriptor</li>
        <li>Write down your Stats</li>
        <li>Write down your Advancement (when to mark XP)</li>
        <li>Write down some details for your Look</li>
        <li>Choose your {{data.playbookName}}'s Moves</li>
      </ol>
      <section>
        <h3>Descriptor</h3>
        <ul class="descriptorList">
          <li class="descriptor" *ngFor="let descriptor of data.descriptors">
            <span class="descriptorName">{{descriptor.name}}</span>
            <span class="statLine">
            (<span class="stat">War {{descriptor.stats.war}},</span>
              <span class="stat">Peace {{descriptor.stats.peace}},</span>
              <span class="stat">Duty {{descriptor.stats.duty}},</span>
              <span class="stat">Explore {{descriptor.stats.explore}},</span>
              <span class="stat">Rank {{descriptor.stats.rank}}</span>)
              </span>
            <p>{{descriptor.advancement}}</p>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="rightColumn">
    <aside class="standardMovesBlock">
      <st-move *ngFor="let standardMove of standardMoves.moves" [move]="standardMove" [selectable]="false"></st-move>
    </aside>
  </section>
</main>
