<h1>Strange New Worlds - Crew Playbooks</h1>
<p>
  <a href="http://critical-hits.com/ch-presents/strange-new-worlds-an-unofficial-star-trek-hack-powered-by-the-apocalypse/#xo"><b>Strange New Worlds</b></a>
    is an unofficial Star Trek PbtA hack by <b>Dave Chalker</b> and <b>Josh Drobina</b>.
</p>
<p>
  Playbooks site designed by <b>Russell Morrisey</b>
</p>

<ul>
  <a href="playbooks/captain"><li>The Captain</li></a>
  <a href="playbooks/xo"><li>The XO</li></a>
  <a href="playbooks/engineer"><li>The Chief Engineer</li></a>
  <a href="playbooks/tactical"><li>Tactical Officer</li></a>
  <a href="playbooks/medic"><li>The Chief Medic</li></a>
  <a href="playbooks/operations"><li>Operations Officer</li></a>
  <a href="playbooks/science"><li>Science Officer</li></a>
</ul>
